@font-face {
  font-family: 'aller_displayregular';
  src: url('./assets/allerdisplay-webfont.woff2') format('woff2'),
       url('./assets/allerdisplay-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}